{{!-- 邮箱绑定的激活码页面 --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>邮箱绑定激活码</title>
</head>

<body>
  <div>
    <p>您好，{{name}}</p>
    <p>这是您的邮箱绑定激活码，请复制到您的邮箱绑定页面进行绑定，激活码将在一小时后过期。</p>
    <p>您的激活码为：{{ code }}</p>
  </div>
</body>

</html>
