<html>

<head>
  <title>会议室清理维护提醒邮件</title>
</head>

<body>
  <h1>会议室清理维护提醒</h1>
  <p>尊敬的{{managerName}}，</p>
  <p>以下会议室已结束使用，请安排相关人员进行清理维护工作，以确保会议室的整洁和设备的正常运行。</p>
  <ul>
    <li>会议室名称：{{roomName}}</li>
    <li>位置：{{location}}</li>
    <li>使用时间：{{duration}}</li>
  </ul>
  <p>请确保会议室在下次使用前处于良好状态，感谢您的配合！</p>
</body>

</html>
